<ion-header>
  <ion-toolbar style="--background: black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorito()">
        <ion-icon
          [name]="isFavorito() ? 'heart' : 'heart-outline'"
          color="danger"
          slot="icon-only"
        >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading; else loading" fullscreen scroll-y="true">
  <ion-card>
    <img
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
      style="
        width: 100%;
        max-width: 300px;
        margin: auto;
        display: block;
        object-fit: contain;
        aspect-ratio: 1;
      "
    />
    <ion-card-header>
      <ion-card-title>Informações</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item><strong>Nº Pokédex: </strong> {{ pokemon.id }} </ion-item>
      <ion-item><strong>Altura:</strong> {{ pokemon.height }}</ion-item>
      <ion-item><strong>Peso:</strong> {{ pokemon.weight }}</ion-item>
      <ion-item><strong>Tipo(s):</strong> {{ types }}</ion-item>
      <ion-item><strong>Habilidades:</strong> {{ abilities }}</ion-item>
      <ion-item>
        <strong>Status:</strong>
        <ul>
          <li *ngFor="let stat of pokemon.stats">
            {{ stat.stat.name }}: {{ stat.base_stat }}
          </li>
        </ul>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ng-template #loading>
  <ion-spinner></ion-spinner>
</ng-template>
