<ion-header>
  <ion-toolbar style="--background: black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorito()">
        <ion-icon
          [name]="isFavorito() ? 'heart' : 'heart-outline'"
          color="danger"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading; else loading" fullscreen scroll-y="true">
  <ion-card style="background: #1e1e1e; color: white;">
    <img
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
      style="
        width: 100%;
        max-width: 300px;
        margin: auto;
        display: block;
        object-fit: contain;
        aspect-ratio: 1;
      "
    />
    <ion-card-header>
      <ion-card-title
        style="font-size: 1.5rem; font-weight: bold; text-align: center; color: white;"
      >
        Informações
      </ion-card-title>
    </ion-card-header>

    <ion-card-content
      style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        line-height: 1.8;
        color: white;
      "
    >
      <div style="margin-bottom: 8px;">
        <strong style="display: inline-block; width: 130px; color: white;">Nº Pokédex:</strong>
        <span style="color: lightgray;">{{ pokemon.id }}</span>
      </div>
      <div style="margin-bottom: 8px;">
        <strong style="display: inline-block; width: 130px; color: white;">Altura:</strong>
        <span style="color: lightgray;">{{ pokemon.height }}</span>
      </div>
      <div style="margin-bottom: 8px;">
        <strong style="display: inline-block; width: 130px; color: white;">Peso:</strong>
        <span style="color: lightgray;">{{ pokemon.weight }}</span>
      </div>
      <div style="margin-bottom: 8px;">
        <strong style="display: inline-block; width: 130px; color: white;">Tipo(s):</strong>
        <span style="color: lightgray;">{{ types }}</span>
      </div>
      <div style="margin-bottom: 8px;">
        <strong style="display: inline-block; width: 130px; color: white;">Habilidades:</strong>
        <span style="color: lightgray;">{{ abilities }}</span>
      </div>
      <div style="margin-top: 16px;">
        <strong style="color: white;">Status:</strong>
        <ul style="margin-top: 4px; padding-left: 20px; color: lightgray;">
          <li *ngFor="let stat of pokemon.stats">
            {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
          </li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #loading>
  <ion-spinner></ion-spinner>
</ng-template>
